/* STYLE SECTIONING TAGS */
body {
    background-color: white; 
   }
   
   /* STYLE TEXT */
   
   h1 {
     color: navy;
   }
   
   /* STYLE IMAGES */
   
   /* STYLE NAV BAR */


   #hero {
    display: flex;
   }

   #introRight {
    background-color: darkslateblue;
   }

   .introRightText {
    color: white;
   }

   #navBar {
    display:flex;
    flex-direction: row;
   }

   .sociaLink {
    width: 5%;
   }

   .buttonContainer {
    display:flex;
   }